<!-- <h1>NG-Pokédex</h1>
<p>A open source Pokédex</p>
<ul>
  <li>Open Source built with <a href="https://angular.io">Angular</a></li>
  <li>Data and sprites from the <a href="https://pokeapi.co/">https://pokeapi.co/</a> and
    <a href="http://pokemondb.net/">http://pokemondb.net/</a>.
  </li>
  <li>
    Insperation from <a href="https://www.pokedex.org/">https://www.pokedex.org/</a>.
  </li>
</ul> -->
<mat-card>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-card>
<br>
<mat-card>
  <mat-form-field>
    <mat-label>Choose a colour</mat-label>
    <input matInput [(colorPicker)]='primary' [style.background]="primary"/>
  </mat-form-field>
</mat-card>
